version: '3.8'

services:
  app:
    container_name: enoch-engine-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - HOST_DB=db
      # - DOTENV_PRIVATE_KEY=sua_chave_aqui
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
  db:
    container_name: enoch-engine-db
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: enoch_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  adminer:
    container_name: enoch-engine-adminer
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data: